# connecting python to postgresql
psycopg2-binary

# loading env variables
python-dotenv

# sql related library
sqlalchemy

# for 3d visualization
umap-learn

# for our model
sentence-transformers

# backend framework
flask

# for google cloud deployment
gunicorn
google-cloud-secret-manager

# usual data libraries
pandas
numpy


